.location {
  min-height: 100vh;
  width: 80%;
  margin: 3em auto;
  color: white;
  display: flex;
  flex-direction: column;
}

.location__title {
  font-size: 2.5em;
  align-self: flex-start;
  margin-bottom: 2em;
}

.location__map {
  width: 90%;
  margin: auto;
  height: auto;
}

.location__infos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

.location__infos__item {
  width: 30%;
  word-break: break-all;
}

.location__infos__item__title {
  font-size: 2em;
  margin: 1em 0;
  text-align: left;
}

.location__infos__item__text {
  font-size: 1.3em;
  text-align: left;
  line-height: 1.5em;
}

/* Responsive */

@media (max-width: 950px) {
  .location__map {
    width: 100%;
  }
  .location__infos {
    display: flex;
    flex-direction: column;
  }
  .location__infos__item {
    width: 100%;
  }
}
