.services {
  min-height: 100vh;
  width: 100%;
  margin: auto;
  color: white;
  display: flex;
  flex-direction: column;
}

.services__title {
  font-size: 3em;
  width: 90%;
  margin: 2em auto 1em;
  text-align: left;
}

.services__list {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.services__list__item {
  width: 30%;
  margin-bottom: 3em;
  display: flex;
  flex-direction: column;
  animation-duration: 3s;
  animation-name: opacity;
}

.services__list__item__image {
  width: 100%;
  margin: 50%;
  height: auto;
}
.services__list__item__infos {
  height: 50%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.services__list__item__title {
  font-size: 1.7em;
}

.services__list__item__text {
  font-size: 1.2em;
  line-height: 1.5em;
}

.services__list__item__button {
  width: 50%;
  padding: 0.3em;
  margin: 1em 0.5em;
  font-size: 1.2em;
  line-height: 1.5em;
}

.services__list__item__image,
.services__list__item__title,
.services__list__item__text {
  margin: 0.5em;
}

.services__infos {
  width: 70%;
  min-height: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.services__infos__title {
  font-size: 2.5em;
  width: 90%;
  margin: 1em auto;
}

.services__infos__text {
  font-size: 1.2em;
  width: 90%;
  margin: 1em auto;
  line-height: 1.5em;
}

/* Animation  */

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Responsive */

@media (max-width: 950px) {
  .services {
    width: 100%;
    border-bottom: 0.1px solid grey;
  }
  .services__list {
    border-bottom: 0.1px solid grey;
  }
  .services__list__item {
    width: 90%;
    margin: 2em auto;
    padding: 0;
  }
  .services__infos {
    width: 100%;
  }
  .services__infos__text {
    width: 90%;
  }
}
