.header {
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  color: #f1f1f1;
}

.header__navBar {
  display: flex;
  justify-content: space-between;
}

.header__navBar__logoLabel {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
}

.header__navBar__logoLabel__logo {
  max-width: 100px;
  height: auto;
  margin: 1em;
}

.header__navBar__logoLabel__label {
  margin: 1em;
  justify-content: center;
}

.header__navBar__nav {
  display: flex;
  flex-grow: 3;
  align-items: center;
  justify-content: flex-start;
}

.header__navBar__nav__link {
  text-decoration: underline;
  margin: 0 1em;
  color: #f1f1f1;
}

.menu__burger {
  width: auto;
  margin: auto;
}

.disabled {
  display: none;
}

@media (max-width: 950px) {
  .header__navBar__logoLabel__logo {
    max-width: 50px;
    margin: 0.5em;
  }
  .header__navBar__logoLabel__label {
    margin: 0;
  }

  .header__navBar__nav__link {
    display: none;
  }

  .disabled {
    display: flex;
  }
}
