.contact {
  margin: 7em auto 2em;
  width: 100%;
  min-height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
}

.contact__infos {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  animation-duration: 3s;
  animation-name: opacity;
}

.contact__infos__description {
  width: 50%;
  padding: 2em;
  align-self: center;
}

.contact__infos__description__title {
  text-align: left;
  font-size: 2.5em;
  width: 90%;
  margin: 1em auto;
}

.contact__infos__description__text {
  font-size: 1.2em;
  width: 90%;
  margin: 1em auto;
  text-align: left;
  line-height: 1.5em;
}

.contact__infos__img {
  width: 50%;
  animation-duration: 3s;
  animation-name: opacity;
}

.contact__containerForm {
  height: 70vh;
  width: 90%;
  margin: 3em auto 0;
  display: flex;
  justify-content: center;
}

.contact__containerForm__form {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact__containerForm__form__input,
.contact__containerForm__form__textarea,
.contact__containerForm__form__button {
  border: 1px black solid;
  border-bottom: none;
  background-color: whitesmoke;
  min-height: 1rem;
  padding: 1em;
  font-size: 1em;
  font-weight: bold;
}

.contact__containerForm__form__textarea {
  min-height: 20em;
}

.contact__containerForm__form__input:hover,
.contact__containerForm__form__textarea:hover,
.contact__containerForm__form__button:hover {
  background-color: rgb(245, 240, 232);
}

/* Animation */

@keyframes opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Responsive */

@media (max-width: 950px) {
  .contact__infos {
    flex-direction: column-reverse;
    border-bottom: 0.2px solid grey;
  }
  .contact__infos__img {
    width: 90%;
    margin: auto;
  }
  .contact__infos__description {
    width: 90%;
    margin: auto;
  }
  .contact__infos__description__text {
    width: 100%;
  }
}
